/* reset css */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

.switchCursor {
	cursor: crosshair;
}


body {
	line-height: 1;
	padding: 15px;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* new styles */

body{
	font-family: "brandon-grotesque",arial,san-serif;
	background-color: #9f8b60;
	color: white;

}


.alert{
	background-color: #ace2e3;
	padding: 10px;
	width: 200px;
	height: 20px;
	border-radius: 5px;
	position: absolute;
	margin: 5px;
	left: 605px;
	/*right:15px;*/
	visibility: hidden;
	
}


#nav{
	
}

h1{
	text-transform: uppercase;
	font-size: 42px;
	letter-spacing: .3em;
	font-weight: 700;
}

h2{	
	font-family: 'adelle',serif;
	color: #314E57;
	padding-bottom: 5px;
}

#map{
	/*padding-top: 10px;*/
	text-align: center;
	background-image: url('mapVector-03.svg');
	background-repeat: no-repeat;
	background-position: center;
	margin: auto;
}

#wrapper{
	width: 1200;
	margin-top: 15px;
}


.col1{
	float: left;
	width: 175px;
	margin: 5px;
	color: #211E19;

}

.col2{
	float: left;
	background-color: rgba(225,225,225,0.6);
	margin: 5px;
	padding:  15px;
	width: 600px;
	/*position: relative;*/
}

.col3{
	float: left;
	background-color: rgba(225,225,225,0.5);
	margin: 5px;
	padding: 15px;
	width: 250px;	
}

#event-listing{
	padding: 10px 0px;
	
}

input.rounded, textarea{
	background-color: rgba(255,255,255,.65);
	border: 1px solid #ccc;
		-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
		-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
		-webkit-transition: border linear 0.2s,box-shadow linear 0.2s;
		-moz-transition: border linear 0.2s,box-shadow linear 0.2s;
		-o-transition: border linear 0.2s,box-shadow linear 0.2s;
	transition: border linear;
	font-family: "brandon-grotesque",arial,san-serif;
	width: 140px;
	height: 20px;
	padding: 4px 6px;
	margin-bottom: 10px;
	font-size: 14px;
	line-height: 20px;
	color: #555555;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
	border-radius: 4px;
	vertical-align: middle; 
}

.roundedBox{
	background-color: white;
	padding: 15px;
	border-radius: 10px;
	margin-bottom: 20px;

	
}

textarea{
	height: 80px;	
}

.calendar{
	margin-left: -1px;
	height: 71px;
	width: 50px;
	background-image: url('calendar.png');
	position: relative;
}
.month{
	position: absolute;
	text-align: center;
	left: 50%;
	margin-left: -15px;
	top: 18px;
}
.date{
	position: absolute;
	left: 30%;
	bottom: 10px;
	font-weight: bold;
	font-size: 20px;
	color: black;
}

#submitButton{
	font-family: 'brandon-grotesque',arial,san-serif;
	font-size: 14px;
	color: white;
	padding: 10px 20px;
	width: 100%;
	background-color: #5AA076;
		-moz-border-radius: 4px;
		-webkit-border-radius: 4px;
	border-radius: 4px;
	border: 0px solid #000;
}

#submitButton:hover{
	background-color: #5a9391;
	color: white;	
}

.radio{
	font-size: 12px;
	color: #211E19;
}

.right h3, .sideListings h3{
	font-family: 'brandon-grotesque',arial,san-serif;
	text-transform: uppercase;
	font-weight: 300;
	font-style: normal;
	letter-spacing: .1em;
	font-size: 20px;
}
.sideListings li{
	background-color: white;
	color: #211E19;
	padding: 5px;
}

.listings li{
	background-color: white;
	display: inline-block;
	position: relative;
	padding: 10px 10px;
	width: 570px;
	margin: 5px;
 }
 
.left{
	width: 80px;
	float: left;
	clear: left;
}
.right{
	color: #6d6a6a;
	width: 450px;
	float: left;
	font-family: 'adelle',serif;
	line-height: 1.25;
	clear: right;

}

/*.block{
	width: 500px;
	background-color: gray;
	padding: 30px;
}*/

.captionHead{
	margin-top: 4px;
	font-weight: 500;
	color: #314E57;
}
.caption{
	font-size: 9px;
	color: black;
}

